.footer {
  padding: 20px 9%;
  background-color: darkslategray;
  font-family: Oswald Extralight;
  display: flex;
  flex-direction: column;
}
.p-copyright {
  font-size: 12px;
}

.p {
  font-size: 16px;
}

.h4-footer {
  font-size: 30px;
}

.h5-footer {
  font-size: 20px;
}

.footer-menu-items {
  font-size: 16px;
  padding: 10px 0;
}

.main-footer {
  flex: 1;
}

.body-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.ul-footer {
  padding-left: 0;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}

footer a:hover {
  color: rgb(13, 160, 123);
  cursor: pointer;
}

.pt-100 {
  padding-top: 100px;
}