/* navbar */

.navbar-wraper{
  padding: 10px 0px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
  background-color: #afb686 !important;
  padding: 10px 20px !important;
  border-radius: 20px !important;
  box-shadow: 2px 4px 6px rgba(88, 88, 88, 0.1) !important;
  margin: 0% 20% !important;
}

.navbar-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 0px !important;
}

.navbar-menu-items {
  border: 1px rgba(231, 229, 229, 0.555);
  padding: 4px 8px;
  border-radius: 4px;
  font-family: Oswald Extralight;
  color: rgb(21, 39, 39);
}

.navbar-menu-items:hover {
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
}

.logo-coffee {
  font-family: Oswald Extralight;
  font-weight: 700;
  color: #5f4e32;
}

.logo-bean {
  font-family: Oswald Extralight;
  color: rgb(14, 102, 102);
  font-weight: 400;
}

.logo {
  background-color: #afb686;
  border: none;
  align-content: center;
}
