/* Section */

.title {
  font-family: Oswald Extralight;
  color: #2d5013;
  font-weight: 500;
}

.section-container {
  padding: 20px 5%;
}

.content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media (min-width: 576px) {
  .max-width {
    max-width: 90%;
    margin: auto;
  }
}

.content-split {
  display: flex;
  justify-content: space-evenly;
}

.content-image {
  border-radius: 15px;
}

.content-text-column {
  display: flex;
  max-width: 50%;
  flex-direction: column;
  gap: 20px;
}

.content-text-row {
  max-width: 100%;
  align-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-text {
  text-align: justify;
}

.section-h3 {
  font-size: 30px;
  font-family: Oswald Extralight;
  max-width: 100%;
}

.section-h4 {
  font-size: 22px;
  font-family: Oswald Extralight;
  line-height:30px;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

p {
  font-family: Oswald Extralight;
  font-size: 18px;
  font-weight: 300;
}

.section-h3-center {
  text-align: center;
  font-size: 30px;
  font-family: Oswald Extralight;
}

.flex-row {
  display: flex;
  flex-direction: column-reverse;
}
